@page
@model teamManagment.Pages.TimetableModel
@{
    ViewData["Title"] = "Calender";
}
<style>
    body {
        margin-top: 0px;
        margin-left: 0px;
    }

    .ipip {
        font-size: 24px;
        font-stretch: 10%;
        font-variant: small-caps;
        font-weight: 900;
        line-height: 50px;

        background: #222831;
        font-family: 'Courier New', Courier, monospace;
    }

    .centered-container {
        min-width: fit-content;
        max-width: fit-content;
        position: center;
        padding: 10px;
        padding-bottom: 50px;
        border-radius: 45px;
        margin-top: 10%;
        margin-left: 25%;
        margin-right: 10%;
        background-color: #FFD369;
        text-align: center;
    }

    table {
        width: auto;
        height: auto;
    }

    th {
        border: #222831;
        width: 70px;
    }

    td {
        background-color: #EEEEEE;
        text-align: right;
    }

    h1 {
        text-align: left;
        margin-left: 15px;
    }

    .block {
        background-color: #FFD369;
        height: 50px;
        padding-bottom: 50px;
    }
</style>

<p>hi</p>
<h2>calender w projects?</h2>
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="centered-container ipip">
        <div class="block">
            <h1>November</h1>
        </div>

        <table>
            <tr>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
            </tr>
            <tr>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
            </tr>
            <tr>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
            </tr>
            <tr>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>