@page
@model IndexModel
@{
    ViewData["Title"] = "login";
}



<p >Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<h2>Login Form</h2>

<form action="/action_page.php" method="post">
    <div class="imgcontainer">
        <img class="avatar"  src="~/Images/cat.jpg" alt="Sample Photo" />

        <img class="avatar"  src="~/../Pages/Images/cat.jpg" alt="Sample Photo 333" />

        <img class="avatar"  src="../../cat.jpg" alt="Sample Photo" />
        <img class="avatar"  src="cat.jpg" alt="Sample Photo" /> 
    </div>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>



