@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Project managment</h1>
    <p>Learn Web apps</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">apps</a>.</p>
</div>
